<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library App</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/profile.css">
</head>
<body>
    <%- include('header.ejs') %>
    <main>
        <section id="hero">
            <div style="display: flex; align-items: center; justify-content: space-between;">
                <h1>Hello <%= locals.user.FullName %> . Happy Reading!!</h1>  
                <a href="/updateprofile">   Update Profile  <ion-icon name="create-outline"></ion-icon></a> 
            </div>
            <% if(locals.message){%>
                <p style="background-color: green; color: white;text-align: center; padding: 12px;">Book Borrowed  Successfully!!!</p>
            <%}%>      
            <h2>Books Borrowed</h2>
            <table>
                <tr>
                    <th>Book Title</th>
                    <th>Date Borrowed</th>
                    <th>Date To Return</th>
                </tr>
            <% records.reverse().forEach(record=>{ %>
                    <tr> 
                        <td><%=record.title%></td>
                        <td><%=record.DateBorrowed.toLocaleDateString()%></td>
                        <td><%=record.ReturnDate.toLocaleDateString() %></td>
                    </tr>
            <% }) %>
                            
            </table>  
        </section>
    </main>
    <footer>
        <p> LibApp &copy; <%= new Date().getFullYear() %> . All rights Reserved. </p>
        <p>Library App</p>
    </footer>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>